.title-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.card-img {
  max-width: 7rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  border:2px solid white;
}

.card-header {
  margin-bottom: 0.5rem;
}

.card-title {
  display: inline-block;
  color: black;
  font-weight: normal;
}

.card-info p {
  height: 4rem;
  margin-top: 1rem;
  overflow: hidden;
  color: #6A6A6A;
}

.card-members {
  display: flex;
  align-items: center;
  color: rgb(88, 88, 88);
  font-size: 0.7rem;
}