.title-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  padding: 0 2rem;
  font-size: 0.8rem;
}

.card-img {
  max-width: 7rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  border:2px solid white;
}

.card-header {
  margin-bottom: 0.5rem;
}

.card-title {
  display: inline-block;
  color: rgb(65, 65, 65);
  font-weight: normal;
}

.card-info p {
  margin-top: 1rem;
  overflow: hidden;
  color: #6A6A6A;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}