.search-bar input {
  background-color: #DDDDDD;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

.option-img {
  max-width: 2rem;
}

.option-label {
  margin-left: 1rem;
  color: #808083;
}

.input-option {
  display: flex;
  align-items: center;
}