.title-info  {
  display: flex;
  flex-direction: row;
  max-width: 60rem;
  z-index: 1;
}

.info-img {
  max-width: 10rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  border:2px solid white;
}

.info-header {
  margin-bottom: 0.8rem;
}

.title-info p {
  margin-top: 1rem;
  color: #414141;
}

.members {
  display: flex;
  align-items: center;
  color: rgb(68, 68, 68);
  font-size: 0.8rem;
}