.title-info  {
  display: flex;
  flex-direction: row;
  max-width: 60rem;
  z-index: 0;
}

.info-img {
  max-width: 10rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  border:2px solid white;
}

.info-header {
  margin-bottom: 0.8rem;
}

.info-header h2 {
  color: rgb(65, 65, 65);
}

.status-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: rgb(65, 65, 65);
}

.title-info p {
  margin-top: 1rem;
  color: #414141;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .title-info  {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-img {
    margin-right: 0;
    border-radius: 0.2rem;
  }
}