.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-container button {
  color: #fff;
  background-color: #254e79;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
}

.resister-message {
  text-align: center;
}

.resister-message h6, .resister-btn {
  font-size: 0.7rem;
  color: rgb(105, 105, 105);
}

.resister-message h6 {
  display: inline;
  font-weight: normal;
}

.resister-btn {
  font-weight: bold;
  cursor: pointer;
}

.resister-btn:hover {
  color: #FF4141;
}